
// .tab-button-icon {
//   color: #70b0ff !important;
// }
// .tab-button {
//   color: white !important;
// }
.tab-button[aria-selected=true] .tab-button-icon{
  color: #075CCA !important;
}
.toolbar-background {
  border-width: 0!important;
}

ion-app.ios, .toolbar-background, .toolbar-title {
    color: white !important;
    background-color: #075CCA;
}

.card-header {
  color: #075CCA !important;
}

.content {
  background-color: #075CCA;
}

.title .toolbar-title-ios {
  font-size: 2.5rem;
  padding: 2rem, 0;
}