temp-circle {
  .circle {
    font-size: 3rem;
    padding: 1.2rem;
    margin-bottom: 1rem;
    border-radius: 5rem;
    width: 9rem;
    height: 9rem;
    display: inline-block;
    text-align: center;
    background: rgb(109, 109, 109);
  }

  .white {
    background-color: white;
    border-radius: 3rem;
    padding: 1.5rem;
  }

  .color-0 {
    background: rgb(73, 132, 205);
  }
  .color-1 {
    background: rgb(73, 192, 205);
  }
  .color-2 {
    background: rgb(73, 205, 185);
  }
  .color-3 {
    background: rgb(150, 205, 73);
  }
  .color-4 {
    background: rgb(206, 201, 36);
  }
  .color-5 {
    background: rgb(230, 186, 41);
  }
  .color-6 {
    background: rgb(230, 129, 41);
  }
  .color-7 {
    background: rgb(255, 138, 35);
  }
  .color-8 {
    background: rgb(255, 101, 35);
  }


}
