<ion-header>
  <ion-navbar>
    <ion-title>Temperatura</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="header">
      <span *ngIf="outside">{{outside}} º</span>
      <span float-right>
          <ion-icon name="home" color="black"></ion-icon>
      </span>
  </div>
  
  <ion-card>
    <ion-card-header>
      <h2 padding>Temperatura en la habitación 1</h2>
    </ion-card-header>
    <ion-grid *ngIf="connected">
      <ion-row class="temps">
        <ion-col text-center>
          <h1><span class="circle">{{desired}}</span></h1>
          <p>Deseada</p>
        </ion-col>
        <ion-col text-center>
          <h1><span class="circle">{{actual}}</span></h1>
          <p>Actual</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item padding-top>
            <ion-range [(ngModel)]="desired" min="15" max="40" debounce="500" (ionChange)="setTemp()">
              <ion-icon range-left small name="thermometer" color="danger"></ion-icon>
              <ion-icon range-right name="thermometer" color="danger"></ion-icon>
            </ion-range>
          </ion-item>
      </ion-row>
    </ion-grid>

    <h3 *ngIf="!connected"  text-center>No conectado</h3>
  </ion-card>
</ion-content>
