page-temperature {

  .header {
    display: flex;
    justify-content: space-between;
    color: #9d9d9d;
    font-size: 2.5rem;

    .outside {
      display: flex;
    }
    .smaller {
      font-size: 2rem;
    }
    ion-icon {
      font-size: 6rem;
    }
  }
  .gray {
    color: rgb(100, 100, 100)
  }

  .temps {
    margin-top: 3rem;
  }
  .range-bar.range-bar-active {
    background: rgb(255, 162, 0);
  }
  .range-knob {
    background: rgb(255, 162, 0)!important;
  }

}

