page-temperature {
  .header {
    font-size: 6rem;
    color: #c9c9c9;
  }
  .temps {
    margin-top: 3rem;

    h1 {
      margin: 4rem 0;
    }
    .circle {
      font-size: 3rem;
      background: rgb(255, 162, 0);
      padding: 1.2rem;
      margin-bottom: 1rem;
      border-radius: 3rem;
      color: white;
    }
    
  }
  .range-bar.range-bar-active {
    background: rgb(255, 162, 0);
  }
}

