page-temperature {

  .top-space {
    height: 2rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    color: rgb(210, 209, 209);
    font-size: 2.5rem;

    .outside {
      display: flex;
    }
    .smaller {
      font-size: 2rem;
    }
    ion-icon {
      font-size: 6rem;
    }
  }
  .gray {
    color: rgb(100, 100, 100)
  }
  .flex {
    display: flex;
  }
  .space-between{
    justify-content: space-between;
  }

  .temps {
    margin-top: 3rem;
  }
  .range .icon, .info-bottom {
    color: #075CCA !important;
  }
  .range-bar.range-bar-active {
    background: #075CCA;
  }
  .range-knob {
    background: #075CCA!important;
  }

  .info-bottom  {
    border-top: 1px solid rgb(220, 220, 220);
    padding: 1rem;
  }

}

